.contact_cont {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  margin-top: 5rem;
}

.contact h1 {
 font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.contact h2 {
 font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.contact span {
 font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.contact p {
 font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.titulo {
  width: 100%;
  max-width: 1100px;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
 font-family: 'Roboto', sans-serif;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review {
  text-align: center;
  margin-top: 50px;
}

.review img {
  width: 120px;
}

@media only screen and (max-width: 600px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .contact h1 {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 600px) {
  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .contact h1 {
    margin-top: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: left;
  }

  .contact h1 {
    margin-top: 0px;
  }
}

@media only screen and (min-width: 992px) {
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: left;
  }
}

@media only screen and (min-width: 1200px) {
  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: left;
  }

  .contact h1 {
    margin-top: 0px;
  }
}
