.hero_image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("../../public/images/portada.png");

  /* Set a specific height */
  max-height: 60vh;
  height: auto;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
}

/* Place text in the middle of the image */
.hero_text {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.title {
  color: black;
  font-size: 2rem;
 font-family: 'Roboto', sans-serif;

}

.subtitle {
  color: black;
  font-size: 1.5rem;
 font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
  line-height: 1;
}
