.footer {
  width: 100%;
  background-color: #212121;
  height: auto;
  min-height: 40vh;
  margin-top: 5rem;
  padding: 20px;
  
}

.footer h1 {
 font-family: 'Roboto', sans-serif;

  color: white;
  text-align: center;
  font-size: 1.3rem;
}

.links {
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.links a {
 font-family: 'Roboto', sans-serif;

  color: white;
  font-size: 1rem;
}
