.info_cont {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.info_cont h1 {
  color: black;
  font-size: 3rem;
 font-family: 'Roboto', sans-serif;

}

.info_cont span {
  font-size: 1rem;
  line-height: 20px;
  margin-left: 20px;
  padding: 0;
  line-height: 1;
  color: gray;
}

.product_cont h2 {
  color: #cc6c9c;
  font-size: 2rem;
 font-family: 'Roboto', sans-serif;

  margin-top: 30px;
}

.product_cont ul {
  list-style: none;
}

.product_cont p {
  list-style: none;
 font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.product_cont span {
  list-style: none;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.description {
  font-size: 1rem;
  margin-bottom: 30px;
}
