.content {
  width: 100%;
}

.content h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
 font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

.contentCarta {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 1rem;
  margin: auto;
  width: 80%;
  max-width: 1100px;
  margin-bottom: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contentCarta {
    grid-template-columns: 100%;
    margin: auto;
    width: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .contentCarta {
    grid-template-columns: 100%;
    margin: auto;
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contentCarta {
    grid-template-columns: 50% 50%;
    margin: auto;
    width: 90%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .contentCarta {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 1rem;
    margin: auto;
    width: 80%;
    max-width: 1100px;
    margin-bottom: 2rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .contentCarta {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 1rem;
    margin: auto;
    width: 80%;
    max-width: 1100px;
    margin-bottom: 2rem;
  }
}

/*
@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 600px) {
}


@media only screen and (min-width: 768px) {
}


@media only screen and (min-width: 992px) {
}


@media only screen and (min-width: 1200px) {
}
*/
