.container {
  min-height: 60vh;
  padding: 0;
  height: auto;
  justify-content: center;
  display: flex;
}

.partidos h1 {
 font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

.partidos h1 {
 font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
}

.partidos p {
 font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1;
  color: gray;
}

.partidos img {
  width: 100%;
  margin-top: 20px;
}
